snippet " "vim comment" b
" ============================= ${1:foo} ======================================
endsnippet

snippet # "sharp comment" b
# ============================= ${1:foo} ======================================
endsnippet

